
.navbar{
  background-color:#EEEEEE;
}

.navli{
  display:inline-block;
}

nav {
  padding-top: 10px;
  padding-right: 60px;
  padding-left: 60px;
  border: 1px solid black;
  text-align: right;
  position: relative;
  height: 50px;
  background-color: grey;
}

.greg{
  position: absolute;
  text-align: left;
}

main{
  position: relative;
  margin-left: 100px;
}

.searchli{

}

.date{
  color: grey;
}

.search{
  border-radius: 5px;
  display:inline-block;
  border: 1px solid grey;
  margin:0px;
  margin-right: -6px;
  padding: 5px 5px 5px 5px;
}



.searchlist ul {
  list-style-type: none;
}

#pic{
  margin-right:10px;
  width:10%;
  border: 1px solid grey:
}

img{
  border: 1px solid grey;
  margin-top: 10px;
}

.form{
 margin-left:50px;
  display:inline-block;
}

.job{
  color: blue;
  font-weight:100;
  font-weight:bold;
}
