
.navbar{
  background-color:##EEEEEE;
}

.navli{
  display:inline-block;
}

nav {
  padding-top: 10px;
  padding-right: 60px;
  padding-left: 60px;
  border: 1px solid black;
  text-align: right;
  position: relative;
  height: 50px;
  background-color: grey;
}

.greg{
  position: absolute;
  text-align: left;
}

main{
  position: relative;
  margin: auto;
}

.searchli{

}

.date{
  color: grey;
}

.search{
  display:inline-block;
  border: 1px solid grey;

}

ul {
  list-style-type: none;
}
